* {
    background-image: url("https://i.ibb.co/D7JMxbX/afaddcb9d7dfaaf5bff7ef04101935814665ac16.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    background-attachment: fixed;
    text-align: center;
}

.App {
    text-align: center;
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    margin: a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.clock section p {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.clock section small {
    color: silver;
    text-shadow: none;
}

.construction {
    width: 30%;
    margin-top: 2rem;
}

@media screen and (max-width: 992px) {
    .construction {
        width: 50%;
    }
}

@media screen and (max-width: 588px) {
    .construction {
        width: 70%;
    }
}

@media screen and (max-width: 440px) {
    .construction {
        width: 86%;
    }
}